@black: #333;
@white: #fff;

// gray
@gray-base: #ccc;
@light-gray: lighten(@gray-base, 10%);
@gray: @gray-base;
@dark-gray: darken(@gray-base, 10%);

// blue
@blue-base: #2e6da4;
@light-blue: lighten(@blue-base, 10%);
@blue: @blue-base;
@dark-blue: darken(@blue-base, 10%);
@darker-blue: darken(@blue-base, 20%);

// green
@light-green: #5cb85c;
@green: #4cae4c;
@dark-green: #449d44;
@darker-green: #398439;

// orange
@light-orange: #f0ad4e;
@orange: #eea236;
@dark-orange: #ec971f;
@darker-orange: #d58512;

// cyan
@light-cyan: #5bc0de;
@cyan: #46b8da;
@dark-cyan: #31b0d5;
@darker-cyan: #269abc;

// red
@light-red: #d9534f;
@red: #d43f3a;
@dark-red: #c9302c;
@darker-red: #ac2925;