.clickable:hover {
  cursor: pointer;
}
.btn,
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #fff;
  background-color: #f2f2f2;
  border-color: #d9d9d9;
  color: #333;
}
.btn-default:hover {
  background-color: #cccccc;
  border-color: #bfbfbf;
}
.btn-default:hover {
  cursor: pointer;
}
.btn-primary {
  color: #fff;
  background-color: #3d87c8;
  border-color: #2e6da4;
}
.btn-primary:hover {
  background-color: #286090;
  border-color: #23537c;
}
.btn-primary:hover {
  cursor: pointer;
}
.btn-success {
  color: #fff;
  background-color: #6ebf6e;
  border-color: #4cae4c;
}
.btn-success:hover {
  background-color: #449c44;
  border-color: #3c8b3c;
}
.btn-success:hover {
  cursor: pointer;
}
.btn-info {
  color: #fff;
  background-color: #71c8e3;
  border-color: #46b8da;
}
.btn-info:hover {
  background-color: #31b0d6;
  border-color: #28a1c5;
}
.btn-info:hover {
  cursor: pointer;
}
.btn-warning {
  color: #fff;
  background-color: #f2b865;
  border-color: #eea236;
}
.btn-warning:hover {
  background-color: #ec971e;
  border-color: #de8a13;
}
.btn-warning:hover {
  cursor: pointer;
}
.btn-danger {
  color: #fff;
  background-color: #dd6864;
  border-color: #d43f3a;
}
.btn-danger:hover {
  background-color: #c9312c;
  border-color: #b42c27;
}
.btn-danger:hover {
  cursor: pointer;
}
